<ng-container *ngIf="productDescription">
  <img class="product-image" [src]="productDescription.image" alt="" />
  <div class="container">
    <div class="text">
      <h2>{{ productDescription.title }}</h2>
      <p class="description">{{ productDescription.description }}</p>
      <p class="price">Price :<strong>${{ productDescription.price }}</strong> </p>
    </div>
    <div class="btn">
      <button routerLink="/product-list" class="btn btn-success">
        Shop More
      </button>

      <button class="btn btn-primary" (click)="addtoCart(productDescription)">
        Add to cart
      </button>
      <button class="btn btn-primary" routerLink="/cart-page">
       View Cart
      </button>
    </div>
  </div>
</ng-container>
