.card-img-top{
    height: 200px;
    width: 180px;
}
.logo{
    height: 60px;
    width:80px;
    
}
h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}
.item-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;

}
.product-image:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.product-image{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;

}
.card{
    padding: 15px;
    margin: 30px;
}